#navbar {
    height: 100px;
    background-color: #2c3e50;
    text-align: center;
    font-size: 30px;
    line-height: 100px;
}

.container {
    text-align: center;

}

nav  a {
    color: white;
}
.scelta {
    font-size: 15px;
    padding: 10px;
}
.verde {
    background-color: #1abc9c;
    height: 680px;
}

.omino {
    height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.start {
    color: white;
    font-size: 70px;
    display: ruby;
    transform: translate(50%);
}

.testo-bianco {
    text-align: center;
    color: white;
    font-size: 20px;
}

.testo p {
    color: white;
}

.immagine {
    /* margin: 0 auto; */
}

.stella {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.glyphicon {
    color: white;
    font-size: 40px;
}

.bianco {
    background-color: white;
    height: 800px;
}

.testo-nero {
    text-align: center;
    color: #2c3e50;
}

.nero {
    color: #2c3e50;
    font-size: 40px;
}

.cubi {
    height: 280px;
}

.img-cubi {
    height: 270px;
    border-radius: 15px;
    padding: 5px 5px;
}

.testo-left {
    margin-left: 250px;
    margin-top: 15px;
    text-align: left;
    float: left;
    height: 300px;
    width: 270px;
    font-size: 20px;
    color: white;
}

.testo-right {
    margin-right: 250px;
    margin-top: 15px;
    text-align: left;
    float: right;
    height: 300px;
    width: 270px;
    font-size: 20px;
    color: white;
}
